<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отправить</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="menu">
        <h1>Bomber Beta</h1>
        <form method="POST">
            <input type="text" name="number" placeholder="Введите номер">
            <button type="submit" class="btn">Отправить</button>
        </form>
        {% if success %}
            <div class="alert success">{{ success }}</div>
        {% endif %}
        <a href="/" class="btn">Назад</a>
    </div>
</body>
</html>